### Introduction to Python

**Introduce Python "Hello World!**

Coba eksekusi kode di bawah ini

In [ ]:
# Cetak Hello World!
print("Hello World!")

Hello World!

Fungsi <code>print()</code> pada python adalah sebuah fungsi yang digunakan untuk memunculkan output yang ingin kita print pada console/layar.

---

**Komentar di Python**

Menambahkan komentar membantu orang lain memahami tujuan dari setiap bagian kode yang sudah ditulis. Selain itu, komentar bisa sebagai pengingat ketika melihat kembali kode setelah beberapa minggu atau bulan.

In [ ]:
# Komentar
print("Hello World!") # Baris ini mencetak string (teks)

Hello World!

Komentar selalu diabaikan, maka dari itu setiap compile kode yang memiliki komentar, maka output tetap akan muncul.

---

**Identifikasi kesalahan dalam Python**

Python akan memberi tahu bahwa kode tersebut salah dan memberi pesan error.

In [ ]:
# Cetak "Hello World!" dengan kesalahan
printf("Hello World")

NameError: name 'printf' is not defined

Pesan error akan memberi tahu letak error. Di kode tersebut python tidak bisa mengeksekusi <code>printf</code> karena printf tidak terdefinisi oleh library python.

Atau kesalahan <code>SyntaxtError</code>. Di bawah ini terdapat kode dengan kesalahan pada syntax nya dengan tidak menutup string.

In [ ]:
# Cetak "Hello World!" dengan kesalahan
printf("Hello World)

SyntaxError: unterminated string literal (detected at line 2) (<ipython-input-5-0073974a265d>, line 2)

Python akan memeriksa seluruh program. Python akan berhenti menjalankan seluruh program ketika menemui error.

In [ ]:
# Cetak string dan error untuk melihat urutan yang sedang berjalan

print("Kalimat 1")
print("Kalimat 2)
printf("Kalimat 3")

SyntaxError: unterminated string literal (detected at line 4) (<ipython-input-8-bb717ae6adda>, line 4)

**LATIHAN: Program Pertama**

1. Tuliskan kode <code>Halo Dunia!</code> di bawah ini , menggunakan fungsi <code>print()</code>

In [ ]:
# Tulis kode di bawah ini

2. Tambahkan komentar <code>Ini adalah komentar</code> di sebelah frasa <code>Halo Dunia!</code>, dalam satu baris.

In [ ]:
# Tulis kode di bawah ini



---

**Tipe Data**

Python bisa memberitahu tipe data objek dengan menggunakan fungsi </code>type()</code>. Dengan integer sebagai <code>int</code>, float sebagai <code>float</code>, string sebagai <code>str</code>.

In [ ]:
# Tipe (100)
type(100)

int

In [ ]:
# Tipe (6.44)
type(6.44)

float

In [ ]:
# Tipe ("Selamat Belajar!")
type("Selamat Belajar!")

str

**LATIHAN: Tipe Data**

1. Gunakan fungsi <code>type()</code> dan periksa tipe objek <code>(58.13)</code>.

In [ ]:
# Tulis kode di bawah ini

**Mengonversi Jenis Tipe Data ke Tipe Lain**

Dalam Python kita bisa typecasting. Berikut contoh konversi integer menjadi float.

In [ ]:
# Ini adalah tipe data integer
type(12)

int

Konversi integer menjadi float.

In [ ]:
# Mengubah 12 menjadi float
float(12)

12.0

In [ ]:
# Mengubah 12 menjadi float lalu periksa tipe nya
type(float(12))

float

Konversi string ke integer atau float.

In [ ]:
# Mengubah string menjadi integer
int('1')

1

In [ ]:
# Mengubah string "7.2" menjadi float
float('7.2')

7.2

Konversi angka menjadi string.

In [ ]:
# Mengubah integer menjadi string
str(42)

'42'

In [ ]:
# Mengubah float menjadi string
str(10.2)

'10.2'

Menampilkan tipe data boolean.

In [ ]:
# Tipe Data TRUE
type(True)

bool

In [ ]:
# Tipe Data FALSE
type(False)

bool

Konversi tipe data bool ke tipe data lain. Jika mengonversi <code>True</code> ke integer atau float maka akan mendapatkan <code>1</code>. Jika mengonversi <code>False</code> ke integer atau float maka akan mendapatkan <code>0</code>.

In [ ]:
# Mengubah TRUE ke integer
int(True)

1

In [ ]:
# Mengubah 1 menjadi boolean
bool(1)

True

In [ ]:
# Mengubah 0 menjadi boolean
bool(0)

False

**LATIHAN: Tipe Data**

2. Identifikasi tipe data dari hasil <code>28/3</code>?

In [ ]:
# Tulis kode di bawah ini

3. Identifikasi tipe data dari hasil <code>28//3</code>?

In [ ]:
# Tulis kode di bawah ini



---

**Arithmetic Operations**

In [ ]:
# Operasi penambahan
12 + 90 + 52 + 21 + 67

242

In [ ]:
# Operasi pengurangan
92 - 100

-8

In [ ]:
# Operasi perkalian
25 * 25

625

In [ ]:
# Operasi pembagian
81 / 9

9.0

In [ ]:
# Operasi pembagian
81 / 7

11.571428571428571

In [ ]:
# Operasi pembagian bilangan bulat
81 // 9

9

In [ ]:
# Operasi pembagian bilangan bulat
81 // 7

11

**LATIHAN: Operasi Aritmatika**

1. Hitung berapa jam dalam 250 menit

In [ ]:
# Tulis kode di bawah ini

Python bisa mengevaluasi operasi matematika, kode di bawah ini akan menambahkan 15 ke hasil perkalian (45).

In [ ]:
# Ekspresi matematika
15 + 9 * 5

60

Sama hal nya ketika ekpresi diapit tanda kurung maka akan menjadi prioritas. Hasil penjumlahan 67 + 3 akan dikalikan dengan 10.

In [ ]:
# Ekspresi matematika
(67 + 3) * 10

700



---

**Variabel**

In [ ]:
# Menyimpan nilai ke dalam variabel
x = 12 + 90 + 52 + 21 + 67

Untuk menampilkan <code>x</code>, cukup menaruh variabel di baris terakhir.

In [ ]:
# Cetak nilai dalam variabel
x

242

Variabel <code>x</code> menyimpan hasilnya dan kita bisa melakukan operasi lagi, maka hasil nya akan menjadi variabel baru.

In [ ]:
# Menggunakan variabel lain untuk menyimpan hasil perasi variabel dan nilai
y = x / 25
y

9.68

Jika kita menyimpan nilai ke variabel yang sudah ada, nilai baru akan menimpa nilai sebelumnya.

In [ ]:
# Menimpa variabel dengan nilai baru
x = x / 50
x

4.84

Nama variabel sebaiknya harus memiliki arti, supaya orang lain dapat membaca dan memahami kode dengan lebih mudah.

In [1]:
# Buat nama variabel dengan memiliki arti
total_movie_length_minutes  = 120 + 180 + 240 # Total panjang film dalam menit
total_movie_length_minutes

540

In [2]:
# Buat nama variabel dengan memiliki arti
total_hours = total_movie_length_minutes/ 60 # Total panjang film dalam jam
total_hours

9.0

Selain menyimpan nilai panjang film ke dalam variabel total_min, perhitungan ini bisa dilakukan semuanya sekaligus dalam satu ekspresi, dengan menggunakan tanda kurung untuk menjumlahkan panjang film sebelum dibagi oleh 60.

In [4]:
# Ekpresi lain
total_hours = (120 + 180 + 240) / 60 # Total panjang film dalam jam
total_hours

9

**LATIHAN: Variabel**

1. Hitung nilai <code>x</code> yang dimana <code>x = 15 + 9 * 2</code>

In [8]:
# Tulis kode di bawah ini

2. Hitung nilai <code>y</code> yang dimana <code>y = (15 + 9) * 2</code>

In [7]:
# Tulis kode di bawah ini

3. Hitung nilai <code>z</code> yang dimana <code>z = x - y</code>

In [10]:
# Tulis kode di bawah ini



---